# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# !jupyter nbextension enable --py --sys-prefix widgetsnbextension
# !jupyter nbextension enable --py --sys-prefix widgetsnbextension

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
csv_path=os.path.join("output_data","cities.csv")
csv=pd.read_csv(csv_path)
csv_df=pd.DataFrame(csv)
csv_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.12,-134.97,79.79,67,0,12.35,PF,1611642608
1,1,Busselton,-33.65,115.33,75.00,58,66,7.00,AU,1611642609
2,2,Husavik,66.04,-17.34,21.20,73,90,5.75,IS,1611642610
3,3,Mataura,-46.19,168.86,72.84,42,100,9.64,NZ,1611642610
4,4,Hithadhoo,-0.60,73.08,82.00,68,100,3.38,MV,1611642610
...,...,...,...,...,...,...,...,...,...,...
552,552,Santiago,-33.46,-70.65,70.00,67,0,10.36,CL,1611642720
553,553,Quatre Cocos,-20.21,57.76,86.00,58,20,9.22,MU,1611642858
554,554,Tegul'det,57.31,88.17,-26.81,80,92,2.35,RU,1611642858
555,555,Cherskiy,68.75,161.30,-37.68,81,93,4.34,RU,1611642859
556,556,Altay,47.87,88.12,4.30,88,100,3.06,CN,1611642859

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
import gmaps
import gmaps.datasets
# gmaps.configure(api_key='AIzaSyDrbwXdyGFvG79wyT47XYbZvvuwrTPNnmE') # Fill in with your API key
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
import gmaps.datasets
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

# earthquake_df.head()

Figure(layout=FigureLayout(height='420px'))

In [5]:
lat_lng=csv_df[['Lat','Lng']]
hum=csv_df['Humidity']

In [6]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(lat_lng, weights=hum,
                           dissipating=False,max_intensity=100,
                           point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
hotel_df=csv_df.dropna()
hotel_df=pd.DataFrame(hotel_df)
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.12,-134.97,79.79,67,0,12.35,PF,1611642608
1,1,Busselton,-33.65,115.33,75.00,58,66,7.00,AU,1611642609
2,2,Husavik,66.04,-17.34,21.20,73,90,5.75,IS,1611642610
3,3,Mataura,-46.19,168.86,72.84,42,100,9.64,NZ,1611642610
4,4,Hithadhoo,-0.60,73.08,82.00,68,100,3.38,MV,1611642610
...,...,...,...,...,...,...,...,...,...,...
552,552,Santiago,-33.46,-70.65,70.00,67,0,10.36,CL,1611642720
553,553,Quatre Cocos,-20.21,57.76,86.00,58,20,9.22,MU,1611642858
554,554,Tegul'det,57.31,88.17,-26.81,80,92,2.35,RU,1611642858
555,555,Cherskiy,68.75,161.30,-37.68,81,93,4.34,RU,1611642859
556,556,Altay,47.87,88.12,4.30,88,100,3.06,CN,1611642859

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df['Hotel Name']=''
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,Rikitea,-23.12,-134.97,79.79,67,0,12.35,PF,1611642608,
1,1,Busselton,-33.65,115.33,75.00,58,66,7.00,AU,1611642609,
2,2,Husavik,66.04,-17.34,21.20,73,90,5.75,IS,1611642610,
3,3,Mataura,-46.19,168.86,72.84,42,100,9.64,NZ,1611642610,
4,4,Hithadhoo,-0.60,73.08,82.00,68,100,3.38,MV,1611642610,
...,...,...,...,...,...,...,...,...,...,...,...
552,552,Santiago,-33.46,-70.65,70.00,67,0,10.36,CL,1611642720,
553,553,Quatre Cocos,-20.21,57.76,86.00,58,20,9.22,MU,1611642858,
554,554,Tegul'det,57.31,88.17,-26.81,80,92,2.35,RU,1611642858,
555,555,Cherskiy,68.75,161.30,-37.68,81,93,4.34,RU,1611642859,
556,556,Altay,47.87,88.12,4.30,88,100,3.06,CN,1611642859,

In [107]:
lat_lng_df=pd.DataFrame(lat_lng)
lat_lng_df

In [109]:
hotel_df['Lat/Lng'] = lat_lng_df[lat_lng_df.columns[0:2]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Lat/Lng
0,0,Rikitea,-23.12,-134.97,79.79,67,0,12.35,PF,1611642608,Pension Bianca & Benoit,"-23.12,-134.97"
1,1,Busselton,-33.65,115.33,75.00,58,66,7.00,AU,1611642609,Pension Maro'i,"-33.65,115.33"
2,2,Husavik,66.04,-17.34,21.20,73,90,5.75,IS,1611642610,Mangareva,"66.04,-17.34"
3,3,Mataura,-46.19,168.86,72.84,42,100,9.64,NZ,1611642610,Pension Bianca & Benoit,"-46.19,168.86"
4,4,Hithadhoo,-0.60,73.08,82.00,68,100,3.38,MV,1611642610,Pension Maro'i,"-0.6,73.08"
...,...,...,...,...,...,...,...,...,...,...,...,...
552,552,Santiago,-33.46,-70.65,70.00,67,0,10.36,CL,1611642720,,"-33.46,-70.65"
553,553,Quatre Cocos,-20.21,57.76,86.00,58,20,9.22,MU,1611642858,,"-20.21,57.76"
554,554,Tegul'det,57.31,88.17,-26.81,80,92,2.35,RU,1611642858,,"57.31,88.17"
555,555,Cherskiy,68.75,161.30,-37.68,81,93,4.34,RU,1611642859,,"68.75,161.3"
556,556,Altay,47.87,88.12,4.30,88,100,3.06,CN,1611642859,,"47.87,88.12"

In [115]:
ser_hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
lat_lng_list=lat_lng["Lat/Lng"]
params = {
#     "location": lat_lng_list,
    "radius": "50000",
    "keyword": "hotel",
    "key": g_key,
}

count = 0
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df[0:28].iterrows(): #add this after hotel_df for looping in range [0:28]

    # get city name from df
    city_name = row['City']


#     # add location to params dict
#     for row in lat_lng_list:
    params['location'] = row['Lat/Lng']
#         #print(lat_lng_list)


    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(ser_hotel_url, params=params).json()

    results = response['results']
#     pprint(results)
#     print("=========000----")
    #pprint(results[count]['name'])
 

    try:
        print(f"Closest Hotel in {city_name} is {results[count]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[count]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    
    count+=1
        
    print("------------")

Retrieving Results for Index 0: Rikitea.
Closest Hotel in Rikitea is Pension Bianca & Benoit.
------------
Retrieving Results for Index 1: Busselton.
Closest Hotel in Busselton is The Sebel Busselton.
------------
Retrieving Results for Index 2: Husavik.
Closest Hotel in Husavik is Hotel Kea by Keahotels.
------------
Retrieving Results for Index 3: Mataura.
Closest Hotel in Mataura is Heartland Hotel Croydon.
------------
Retrieving Results for Index 4: Hithadhoo.
Closest Hotel in Hithadhoo is Lodger Guest House.
------------
Retrieving Results for Index 5: Makakilo City.
Closest Hotel in Makakilo City is Hotel Renew.
------------
Retrieving Results for Index 6: Bredasdorp.
Closest Hotel in Bredasdorp is South Point Self Catering and B&B.
------------
Retrieving Results for Index 7: Faanui.
Closest Hotel in Faanui is The St. Regis Bora Bora Resort.
------------
Retrieving Results for Index 8: Krasnosel'kup.
Missing field/result... skipping.
------------
Retrieving Results for Index 9: Ushuaia.
Closest Hotel in Ushuaia is Bagu Ushuaia Hotel.
------------
Retrieving Results for Index 10: Cape Town.
Closest Hotel in Cape Town is Leisure Bay Beachfront Apartments.
------------
Retrieving Results for Index 11: Port Alfred.
Closest Hotel in Port Alfred is Graham Hotel.
------------
Retrieving Results for Index 12: Vaini.
Closest Hotel in Vaini is Joe's Kahana Resort & Restaurant.
------------
Retrieving Results for Index 13: Valparaíso.
Closest Hotel in Valparaíso is Hotel Boutique Acontraluz.
------------
Retrieving Results for Index 14: Dolores.
Closest Hotel in Dolores is hotel La Escondida.
------------
Retrieving Results for Index 15: Khatanga.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: Belmonte.
Closest Hotel in Belmonte is Casa Mia Eco Hotel Boutique.
------------
Retrieving Results for Index 17: Mizdah.
Missing field/result... skipping.
------------
Retrieving Results for Index 18: Champerico.
Closest Hotel in Champerico is Hotel Gran Karmel.
------------
Retrieving Results for Index 19: Hilo.
Closest Hotel in Hilo is Fern Forest Getaway.
------------
Retrieving Results for Index 20: Ribeira Grande.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: Clyde River.
Missing field/result... skipping.
------------
Retrieving Results for Index 22: Barrow.
Missing field/result... skipping.
------------
Retrieving Results for Index 23: Butaritari.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: Arraial do Cabo.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: Victor Harbor.
Missing field/result... skipping.
------------
Retrieving Results for Index 26: Asău.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: Aklavik.
Missing field/result... skipping.
------------

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [117]:
hotel_df.head (25)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Lat/Lng
0,0,Rikitea,-23.12,-134.97,79.79,67,0,12.35,PF,1611642608,Pension Bianca & Benoit,"-23.12,-134.97"
1,1,Busselton,-33.65,115.33,75.00,58,66,7.00,AU,1611642609,The Sebel Busselton,"-33.65,115.33"
2,2,Husavik,66.04,-17.34,21.20,73,90,5.75,IS,1611642610,Hotel Kea by Keahotels,"66.04,-17.34"
3,3,Mataura,-46.19,168.86,72.84,42,100,9.64,NZ,1611642610,Heartland Hotel Croydon,"-46.19,168.86"
4,4,Hithadhoo,-0.60,73.08,82.00,68,100,3.38,MV,1611642610,Lodger Guest House,"-0.6,73.08"
5,5,Makakilo City,21.35,-158.09,71.60,94,75,4.61,US,1611642611,Hotel Renew,"21.35,-158.09"
6,6,Bredasdorp,-34.53,20.04,69.80,73,18,5.75,ZA,1611642612,South Point Self Catering and B&B,"-34.53,20.04"
7,7,Faanui,-16.48,-151.75,81.12,77,100,17.94,PF,1611642613,The St. Regis Bora Bora Resort,"-16.48,-151.75"
8,8,Krasnosel'kup,65.70,82.47,-29.76,82,100,18.32,RU,1611642613,,"65.7,82.47"
9,9,Ushuaia,-54.80,-68.30,42.80,70,40,21.85,AR,1611642614,Bagu Ushuaia Hotel,"-54.8,-68.3"
10,10,Cape Town,-33.93,18.42,73.99,73,20,16.11,ZA,1611642614,Leisure Bay Beachfront Apartments,"-33.93,18.42"
11,11,Port Alfred,-33.59,26.89,78.53,54,0,7.47,ZA,1611642615,Graham Hotel,"-33.59,26.89"
12,12,Vaini,-21.20,-175.20,77.00,94,75,8.05,TO,1611642615,Joe's Kahana Resort & Restaurant,"-21.2,-175.2"
13,13,Valparaíso,-33.04,-71.63,59.00,94,90,3.44,CL,1611642616,Hotel Boutique Acontraluz,"-33.04,-71.63"
14,14,Dolores,-36.31,-57.68,71.78,77,26,6.67,AR,1611642617,hotel La Escondida,"-36.31,-57.68"
15,15,Khatanga,71.97,102.50,-21.86,87,100,6.46,RU,1611642617,,"71.97,102.5"
16,16,Belmonte,-15.86,-38.88,73.40,88,40,4.61,BR,1611642618,Casa Mia Eco Hotel Boutique,"-15.86,-38.88"
17,17,Mizdah,31.45,12.98,53.10,47,0,12.66,LY,1611642618,,"31.45,12.98"
18,18,Champerico,14.30,-91.92,62.01,73,0,7.67,GT,1611642619,Hotel Gran Karmel,"14.3,-91.92"
19,19,Hilo,19.73,-155.09,71.60,78,90,4.61,US,1611642620,Fern Forest Getaway,"19.73,-155.09"
20,20,Ribeira Grande,38.52,-28.70,63.25,86,99,26.91,PT,1611642620,,"38.52,-28.7"
21,21,Clyde River,70.47,-68.59,8.60,78,1,29.93,CA,1611642621,,"70.47,-68.59"
22,22,Barrow,71.29,-156.79,-9.40,77,90,6.91,US,1611642540,,"71.29,-156.79"
23,23,Butaritari,3.07,172.79,80.65,74,52,7.52,KI,1611642622,,"3.07,172.79"
24,24,Arraial do Cabo,-22.97,-42.03,75.58,87,100,24.76,BR,1611642622,,"-22.97,-42.03"

In [112]:



hotel_name=hotel_df['Hotel Name'].tolist()
hotel_name

['Pension Bianca & Benoit',
 'Aqua Resort',
 'Saltvík Farm Guesthouse',
 'Gore Motor Camp',
 'Green Wing Guest House',
 'Ko Olina Beach Villas Ocean Tower',
 'Victoria Hotel - Bredasdorp',
 'Hotel Royal Bora Bora',
 '',
 'Hostal del Bosque',
 'Belmond Mount Nelson Hotel',
 'A Villa de Mer',
 'Tungi Colonnade Hotel',
 'HOTEL NORTH SOUTH',
 '',
 '',
 '',
 '',
 '',
 'Hawaiian Ohana Home',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Pension Bianca & Benoit',
 "Pension Maro'i",
 'Mangareva',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [23]:
# Add marker layer ontop of heat map
marker_locations=hotel_df[['Lat','Lng']]
info_box_content=[f"Hotel Name: {name}" for name in hotel_name]
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Hotel Name: {name}" for name in hotel_name])

fig.add_layer(markers)
heat_layer=gmaps.heatmap_layer(lat_lng, weights=hum,
                           dissipating=False,max_intensity=100,
                           point_radius=1,)
fig.add_layer(heat_layer)
fig
    

# Display figure

TypeError: figure() got an unexpected keyword argument 'zoom'

In [20]:
print(info_box_content)

['Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ', 'Hotel Name: ']

In [74]:
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,Rikitea,-23.12,-134.97,79.79,67,0,12.35,PF,1611642608,
1,1,Busselton,-33.65,115.33,75.00,58,66,7.00,AU,1611642609,
2,2,Husavik,66.04,-17.34,21.20,73,90,5.75,IS,1611642610,
3,3,Mataura,-46.19,168.86,72.84,42,100,9.64,NZ,1611642610,
4,4,Hithadhoo,-0.60,73.08,82.00,68,100,3.38,MV,1611642610,
...,...,...,...,...,...,...,...,...,...,...,...
552,552,Santiago,-33.46,-70.65,70.00,67,0,10.36,CL,1611642720,
553,553,Quatre Cocos,-20.21,57.76,86.00,58,20,9.22,MU,1611642858,
554,554,Tegul'det,57.31,88.17,-26.81,80,92,2.35,RU,1611642858,
555,555,Cherskiy,68.75,161.30,-37.68,81,93,4.34,RU,1611642859,
556,556,Altay,47.87,88.12,4.30,88,100,3.06,CN,1611642859,